.PromotionsPage__content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.PromotionsPage__new {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.PromotionsPage__table-section {
	padding-top: 30px;
}

.PromotionsPage__promotion-code-row {
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Courier New';
}

.PromotionsPage__promotion-status .badge {
  padding: 0.3rem 0.5rem;
}
