
input, select {
  color: #111 !important;
}

input::placeholder {
  color: #aaa !important;
}

form label {
  margin-bottom: 4px;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: #f5f5f5;
}
